100
1 CS
2 CS
1 SS
6 SCCSSC
2 CC
3 CSCSS
15 CSCSCSCSCSCSCSCSCSCSCSCSCSCSCS
14 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCSSSCCCCCCSSSSCCCSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
14 CCCCCCCCCCCCCCCCSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
16 CCCCCCCCCCCCCCSSSSSSSSSSSSSSSS
21 CCCCCCCCCSSSSSSSSSSSSSSSSSSSSS
22 CCCCCCCCSSSSSSSSSSSSSSSSSSSSSS
23 CCCCCCCSSSSSSSSSSSSSSSSSSSSSSS
15 CCCCCCCCCCCCCCCSSSSSSSSSSSSSSS
